@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        height: auto;
        padding-top: 238px;
        padding-bottom: 238px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background-image: url(imgs/BGITop_mob.jpg);
        &__header {
            width: auto;
            font-size: 32px;
            text-align: center;
        }
        &__text {
            font-size: 14px;
            margin: 0;
            width: auto;
            text-align: center;
        }
        &__button {
            margin: 0;
        }
    }
    .games {
        height: 1221px;
        gap: 32px;
        padding-top: 128px;
        padding-bottom: 128px;
        box-sizing: border-box;
        grid-template-columns: repeat(4, 1fr);
        &__item {
            &-1 {
                background-image: url(imgs/Game1_mob.jpg);
            }
            &-2 {
                background-image: url(imgs/Game2_mob.jpg);
            }
            &-3 {
                background-image: url(imgs/Game3_mob.jpg);
            }
        }
    }
    .seasons {
        grid-template-columns: repeat(4, 1fr);
        &__content {
            grid-column: span 4;
            margin-top: 51px;
            margin-bottom: 0px;
            align-items: center;
            &_header {
                font-size: 32px;
            }
            &_text {
                text-align: center;
                font-size: 14px;
                line-height: 22px;
            }
        }
        &__logo {
            grid-column: span 4;
            margin-top: 64px;
            margin-bottom: 85px;
        }
    }
    .words {
        grid-template-columns: repeat(4, 1fr);
        &__logo {
            order: 2;
            grid-column: span 4;
            margin-top: 64px;
            margin-bottom: 90px;
        }
        &__content {
            order: 1;
            grid-column: span 4;
            margin-top: 51px;
            margin-bottom: 0px;
            align-items: center;
            &_header {
                font-size: 32px;
            }
            &_text {
                text-align: center;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}